.row
  #courses-sidebar.span3
    .well.courses-nav
      %ul.nav.nav-list
        %li.nav-header= t 'label.category'
        %li{ class: ('active' unless params[:category].present?) }
          = link_to t('label.all_categories'), url_for(params.except(:category, :page))
        - @categories.each do |category|
          %li{ class: ('active' if params[:category].to_i == category.id) }
            = link_to t('label.'+category.name.downcase.gsub(' ', '_')), url_for(params.except(:page).merge(category: category.id, only_path: false))

        %li.divider

        %li.nav-header= t 'label.skill_level'
        %li{ class: ('active' unless params[:level].present?) }
          = link_to t('label.all_levels'), url_for(params.except(:level, :page))
        %li{ class: ('active' if params[:level].to_i == BaseModel::Course.level_types(:beginner)) }
          = link_to t('label.beginner'), url_for(params.except(:page).merge(level: BaseModel::Course.level_types(:beginner).to_s, only_path: false))
        %li{ class: ('active' if params[:level].to_i == BaseModel::Course.level_types(:intermediate)) }
          = link_to t('label.intermediate'), url_for(params.except(:page).merge(level: BaseModel::Course.level_types(:intermediate).to_s, only_path: false))
        %li{ class: ('active' if params[:level].to_i == BaseModel::Course.level_types(:advanced)) }
          = link_to t('label.advanced'), url_for(params.except(:page).merge(level: BaseModel::Course.level_types(:advanced).to_s, only_path: false))

        %li.divider

        %li.nav-header= t 'label.author'
        %li{ class: ('active' unless params[:editor].present?) }
          = link_to t('label.all_authors'), url_for(params.except(:editor, :page))
        - @editors.each do |editor|
          %li{ class: ('active' if params[:editor].to_i == editor.id) }
            = link_to editor.full_name, url_for(params.except(:page).merge(editor: editor.id.to_s, only_path: false))

        %li.divider

        %li.nav-header= t 'label.subject'
        %li{ class: ('active' unless params[:subject].present?) }
          = link_to t('label.all_subjects'), url_for(params.except(:subject, :page))
        %li{ class: ('active' if params[:subject].to_i == BaseModel::Course.subject_types(:text)) }
          = link_to t('label.text'), url_for(params.except(:page).merge(subject: BaseModel::Course.subject_types(:text).to_s, only_path: false))
        %li{ class: ('active' if params[:subject].to_i == BaseModel::Course.subject_types(:audio)) }
          = link_to t('label.audio'), url_for(params.except(:page).merge(subject: BaseModel::Course.subject_types(:audio).to_s, only_path: false))
        %li{ class: ('active' if params[:subject].to_i == BaseModel::Course.subject_types(:video)) }
          = link_to t('label.video'), url_for(params.except(:page).merge(subject: BaseModel::Course.subject_types(:video).to_s, only_path: false))

  #courses-list.span9
    - unless @courses.present?
      .empty-list
        %h2= t('header.nothing_found')
        = t('description.courses_not_found')
    - for course in @courses
      .course-list-container
        .course-list-image
          = link_to(image_tag(course.cover.url(:medium), class: 'img-polaroid'), course_path(course.id), class: 'title-link')
        .course-list-content
          .course-list-title
            %h3= link_to(course.title, course_path(course.id), class: 'title-list-fit-text')
          .course-list-short-text
            = course.short_text.html_safe
          .course-list-info-box.clearfix
            .course-list-info-details
              %span.course-list-author= t('label.author')+': '+course.user.full_name
              %span.course-list-category= t('label.category')+': '+course.category.name
              %span.course-list-level= t('label.level')+': '+t('label.level_'+course.level_type.to_s)
              %span.course-list-subject
                = t('label.subject')+': '
                - case course.subject
                - when 1
                  %i.icon-align-left
                - when 2
                  %i.icon-music
                - when 3
                  %i.icon-film
                = course.subject_type
          .course-list-buttons
            = link_to t('button.read_more'), course_path(course.id), class: 'course-list-button-read-more'
            - if course.status_type != :free
              = link_to t('button.buy_now'), course_path(course.id), class: 'course-list-button-buy'
              %span= course.full_price
    = will_paginate @courses
