- if @course.banner.exists?
  #entry-banner{ style: "background-image:url('#{ image_url @course.banner.url(:regular) }')" }
    #entry-title
      %h2.title-fit-text= @course.title
- else
  #entry-title
    %h2.title-fit-text= @course.title
#course-content.row
  .span8
    .formatted-text
      = @course.text.html_safe
  .span4
    - if @course.user
      = render 'shared/author_block', user: @course.user
    =  render 'shared/course_details_block', course: @course
    - if current_user && current_user.is_admin?
      .separated-container
        =link_to t('button.edit'), edit_admin_course_path(@course.id), class: 'btn btn-inverse'
        =link_to t('button.delete'), admin_course_path(@course.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'