#courses-sidebar {
  .courses-nav {
    padding: 8px 0;
  }
}

.course-list-container {
  position: relative;
  margin-bottom: 10px;
  margin-bottom: 15px;
  display: table;
  border-bottom: 1px dotted #cccccc;

  .course-list-image {
    display: table-cell;
    width: 205px;
    padding-bottom: 10px;
    img {
      width: 180px;
      height: 248px;
    }
  }

  .course-list-content {
    position: relative;
    display: table-cell;
    vertical-align: top;
    padding-bottom: 10px;

    .course-list-title {
      h3 {
        font-size: 1.4pc;
        line-height: 1.8pc;
        a {
          text-decoration: none;
          color: #222222;
        }
      }
    }

    .course-list-short-text {
      font-size: 1pc;
      margin-bottom: 20px;
      color: #888888;
      line-height: 1.4pc;
      min-height: 120px;
    }

    .course-list-info-box {
      background-color: #eeeeee;
      margin-bottom: 10px;

      .course-list-info-details {
        float: left;
        span {
          height: 100%;
          padding: 5px 10px;
          float:left;
          text-align: center;
          font-size: 0.75pc;
        }
      }
    }

    .course-list-buttons {
      width: 318px;
      float: right;
      a, span {
        text-align: center;
        width: 106px;
        display: block;
        height: 100%;
        padding: 5px 0px;
        float:right;
        text-decoration: none;
        color: #222222;
        font-size: 0.8pc;
      }
      a {
        text-transform: capitalize;
      }
      span {
        background-color: #a8d2ad;
      }
      .course-list-button-buy {
        background-color: #70be7e;
      }
      .course-list-button-buy:hover {
        background-color: #579a64;
      }
      .course-list-button-read-more {
        background-color: #dddddd;
      }
      .course-list-button-read-more:hover {
        background-color: #cccccc;
      }
    }
  }
}
