// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-nav {
  padding: 8px 0;
  li {

  }
}

.password-change-content, .email-change-content, .account-delete-content {
  max-width: 450px;
}