#entry-banner {

  position: relative;
  margin-bottom: 15px;
  height: 150px;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  #entry-title {
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    bottom: 15px;
    left: 0px;
    padding: 0px 15px;
    h2 {
      color: #222222;
      max-height: 120px;
      line-height: normal;
    }
  }
}

#entry-title h2 {
  line-height: normal;
}

#entry-content {
  margin-top: 20px;
}