
.contact-data {
  margin-top: 20px;
  padding: 24px 0px 30px 0px;
  border-top: 1px #aaaaaa dashed;
  border-bottom: 1px #aaaaaa dashed;
  text-align: center;
  line-height: 0px;

  .contact-data-image {
    display: inline-block;
    width: 110px;
    height: 138px;
    border:1px #333333 solid;
    background-image: image-url('elements/contact_person.jpg');
    background-repeat: no-repeat;
    margin: -16px 20px;
  }

  .contact-data-content {
    display: inline-block;
    width:280px;
    margin-top: 20px;

    .contact-data-skype {
      background-image: image-url('icons/skype.png');
    }

    .contact-data-phone {
      background-image: image-url('icons/phone.png');
    }

    .contact-data-email {
      background-image: image-url('icons/email.png');
    }

    .contact-data-content-detail {
      height: 44px;
      margin-bottom: 5px;
      font-size: 1pc;
      font-weight: bold;
      color: #666666;
      line-height: 44px;
      text-align: left;
      text-indent: 55px;
      background-repeat: no-repeat;
      background-size: 44px;
    }
  }
}

#search {
  .search-content {
    .search-result {
      position: relative;
      .search-result-item {
        float:left;
        width: 352px;
        height: 270px;
        margin-bottom: 10px;
        background-color: #efefef;
        box-shadow: 0px 0px 2px #888888;
        overflow: hidden;
        .search-result-item-title {
          padding: 0px 15px 0px 15px;
          h3 {
            line-height: 1.5pc;
            a {
              text-decoration: none;
              color: #333333;
              font-size: 1.2pc;
              line-height: 1.0pc;
            }
          }
        }
        .search-result-item-content {
          display: table;
          .search-result-item-cover {
            display: table-cell;
            width: 115px;
            vertical-align: top;
            text-align: right;
          }
          .search-result-item-short-text {
            display: table-cell;
            vertical-align: top;
            padding: 0px 15px;
            overflow: hidden;
          }
        }
        .search-result-item-buttons {
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          background-color: #dddddd;
          a {
            background-color: #dddddd;
            float: right;
            display: block;
            padding: 4px 8px;
            text-decoration: none;
            color: black;
            border-left: 1px solid #aaaaaa;
          }
        }
      }
    }
  }
}