.digital-wall
  - for entry in @entries
    %div{ class: ('digital-box display-mode-'+entry.main_display_mode_type.to_s) }
      - if !entry.code.blank?
        .digital-box-short-code= entry.code.gsub('{link}', entry_path(entry.id)).html_safe
      - elsif entry.image.exists?
        %div{ class: ('digital-box-image display-mode-image-'+entry.main_display_mode_type.to_s),
             style: "background-image:url('#{entry.image.url(entry.main_display_mode_type.to_s)}')",
             'data-image-src-small' => entry.image.url(:small),
             'data-image-src-medium' => entry.image.url(:medium),
             'data-image-src-large' => entry.image.url(:large)}
          .digital-box-title.digital-box-image-title
            %h3= link_to entry.title, entry_path(entry.id)
          .digital-box-short-text.digital-box-image-short-text
            = entry.short_text.html_safe
      - else
        .digital-box-text
          .digital-box-title.digital-box-text-title
            %h3= link_to entry.title, entry_path(entry.id)
          .digital-box-short-text.digital-box-text-short-text
            = entry.short_text.html_safe
      - if entry.code.blank?
        .digital-box-buttons
          = link_to t('button.read_more'), entry_path(entry.id), class: 'digital-box-button-read-more'
          - if current_user && current_user.is_admin?
            =link_to t('button.edit'), edit_admin_entry_path(entry.id)
.homepage-pagination
  = will_paginate @entries
