%h2= t 'mailer.header.activation_email'
.email-text-content= t 'mailer.description.activation_email'
%p= url_for( controller: 'public/users', action: 'activate', token: @user.activation_token, locale: I18n.locale, only_path: false )
.email-text-content= t 'mailer.description.email_explanation'