%h2= t 'mailer.header.change_email_email'
.email-text-content= t 'mailer.description.change_email_email'
%p= url_for( controller: 'public/email_changes', action: 'update', token: @user.encrypted_new_email, locale: I18n.locale, only_path: false )
.email-text-content= t 'mailer.description.email_explanation'