%h2= t 'header.change_password'
.password-change-content
  .form-container
    = simple_form_for @password_change, url: { action: :update }, html: { method: :put, class: 'form-content' } do |f|
      = f.error_notification
      = f.input :old_password, input_html: { maxlength: 300, class: 'input-fit' }
      = f.input :new_password, input_html: { maxlength: 300, class: 'input-fit' }
      = f.input :new_password_confirmation, input_html: { maxlength: 300, class: 'input-fit' }
      .control-group
        .controls
          = f.button :submit, t('button.change'), class: 'btn btn-inverse'