.course-overview
  .course-overview-cover
    = link_to(image_tag(@course.cover.url(:small)), course_path(@course.id))
  .course-overview-info
    %h3= link_to @course.title, course_path(@course.id)
    .course-overview-short-text
      = @course.short_text.html_safe