.form-container
  = simple_form_for @lesson, url: (@lesson.new_record? ? admin_course_lessons_path() : admin_course_lesson_path(@lesson.course.id, @lesson.id)), html: { multipart: true, class: 'form-content' } do |f|
    = f.error_notification
    = f.input :title, input_html: { maxlength: 128 }
    = f.input :text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, maxlength: 100000, value: @lesson.text }
    = f.input :short_text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, maxlength: 10000, value: @lesson.text }
    = f.input :content_url, input_html: { maxlength: 256 }
    = f.input :example_url, input_html: { maxlength: 256 }
    .split
      .split-element.size-30
        = f.input :type_of_content, collection: BaseModel::Lesson.content_types, wrapper_html: { class: 'split-element-content' }, input_html: { class: 'select2' }
      .split-element.size-30
        = f.input :time, as: :string, wrapper_html: { class: 'split-element-content' }
      .split-element.size-40
        = f.input :price, as: :currency, wrapper_html: { class: 'split-element-content' }, currency_code: @course.country.currency_code
    = f.association :user, label_method: :email, input_html: { class: 'select2' }
    = f.association :course, label_method: :title, input_html: { class: 'select2' }

    .control-group
      .controls
        = f.button :submit, (@lesson.new_record? ? t('button.create') : t('button.update')), class: 'btn btn-inverse'