.menu.navbar
  .navbar-inner
    %ul.nav
      %li= link_to t('admin.courses.button.back_to_edit_course'), edit_admin_course_path(@course.id), class: 'nav-button'
      %li= link_to t('admin.courses.button.delete_course'), admin_course_path(@course.id), method: :delete, confirm: 'label.confirm_delete', class: 'nav-button'
      %li{ class: ('active' if action?('index')) }= link_to t('admin.lessons.button.manage_lessons'), admin_course_lessons_path(@course.id), class: 'nav-button'
      %li{ class: ('active' if action?('new', 'create')) }= link_to t('admin.lessons.button.create_lesson'), new_admin_course_lesson_path(@course.id), class: 'nav-button'
      - if defined?(buttons)
        - buttons.each do |button|
          %li= link_to t(button[:label]), button[:url], method: button[:method], confirm: button[:confirm].present? ? t(button[:confirm]) : nil, class: 'nav-button'