%h2= t 'admin.lessons.header.manage_lessons'
= render partial: 'menu'
= render partial: 'course_overview'
#lessons
  %table.table.table-hover.table-bordered.admin-index-table
    %tbody
      %tr
        %th= t 'admin.lessons.label.title'
        %th.header= t 'admin.lessons.label.type'
        %th.header= t 'admin.lessons.label.price'
        %th
    - @lessons.each do |lesson|
      %tr
        %td.title-column= link_to lesson.title, edit_admin_course_lesson_path(lesson.course.id, lesson.id)
        %td.hint-column= lesson.content_type
        %td.hint-column= lesson.full_price
        %td.options-column
          = link_to t('link.show'), admin_course_lesson_path(lesson.course.id, lesson.id), class: "btn btn-mini"
          = link_to t('link.edit'), edit_admin_course_lesson_path(lesson.course.id, lesson.id), class: "btn btn-mini"
          = link_to t('link.delete'), admin_course_lesson_path(lesson.course.id, lesson.id), method: :delete, data: { confirm: t('description.are_you_sure_question') }, class: 'btn btn-mini btn-danger'
