.row
  .span5
    %h2= t 'header.password_reset'
    .form-container
      = simple_form_for @password_reset, url: { action: 'update' }, html: { method: :put, class: 'form-content' } do |f|
        = f.error_notification
        = f.input :password, input_html: { maxlength: 300, class: 'input-fit' }
        = f.input :password_confirmation, input_html: { maxlength: 300, class: 'input-fit' }
        .control-group
          .controls
            = f.button :submit, t('button.reset'), class: 'btn btn-inverse'
  .span7
    %h2= t 'header.password_recovery'
    .formatted-text= t 'description.password_recovery'