.content-block.author-block
  .content-block-title
    %h3= t 'label.author'
  .content-block-container.author-block-conteiner
    = image_tag avatar_url(user, 100), class: 'img-polaroid'
    .author-block-full-name
      %p.author-block-name= user.full_name
      - if user.website
        %p.author-block-www= link_to user.website_name, user.website