.content-block.author-block
  .content-block-title
    %h3= t 'label.details'
  .content-block-container
    .content-block-image
      = image_tag(course.cover.url(:medium))
    %hr
    .content-block-date
      %p
        %strong= t('common.date_created')
        %br
        = l(course.created_at, format: :long)
      - if course.updated_at
        %p
          %strong= t('common.date_modified')
          %br
          = l(course.updated_at, format: :long)
