.content-block.author-block
  .content-block-title
    %h3= t 'label.details'
  .content-block-container
    .content-block-date
      %p
        %strong= t('common.date_created')
        %br
        = l(entry.created_at, format: :long)
      - if entry.updated_at
        %p
          %strong= t('common.date_modified')
          %br
          = l(entry.updated_at, format: :long)