- if object && object.errors.size > 0
  .errors-messages-block.alert.alert-error
    %button.close{ "data-dismiss" => "alert" } &times;
    %p= t "description.error_block"
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg