.file_field_content{ :id => "file_field_#{field}_content" }
  .file_field_preview
    .file_field_image
      = image_tag form.object.send(field).url(style)
      - if form.object.send(field).exists?
        %a.file_field_delete_image_bt.badge{ :href => admin_attachment_path(:model => form.object.class.name, :id => form.object.id, :attachment => field, :return_url => url_encode(encrypt(current_url))) }
          %i.icon-remove
  .file_field_container
    = form.input field