// CSS Styles for Admin Panel

.admin-index-table {
  th {
    background-color: #f6f6f6;
  }

  .header {
    text-align: center;
  }

  .image-thumb {
    width: 100px;
    height: 60px;
    overflow: hidden;
    margin-right: 10px;
    float: left;
    img {
      max-width: 100px;
    }
  }

  .title-column {
    width:  400px;
    .title-link {
      font-size: 0.8pc;
    }
  }

  .hint-column {
    font-size: small;
    text-align: center;
  }

  .options-column {
    width: 150px;
    text-align: center;
  }
}

/*--Show--------------------------------------------------------------------------------------------------------------*/

.admin-show {
  .admin-show-label {
    text-transform: capitalize;
    background-color: whitesmoke;
    line-height: 1.6pc;
    padding: 4px 10px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-shadow: 0 1px 0 white;
    border-bottom: 1px solid #dddddd;
  }

  .admin-show-value {
    padding: 4px 10px;
  }

  .admin-show-text, .admin-show-image, .admin-show-input {
    border: 1px solid #cbcbcb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .admin-show-element {
    margin-bottom: 10px;
  }

  .admin-show-image {
    .admin-show-value {
      text-align: center;
    }
  }
}

/*--Course Small Overview---------------------------------------------------------------------------------------------*/

.course-overview {
  display: table;
  border: 1px solid #dddddd;
  width: 100%;
  margin-bottom: 20px;

  .course-overview-cover {
    display: table-cell;
    width: 120px;
    padding: 10px;
    border-right: 1px dotted #dddddd;
    vertical-align: top;
    text-align: center;
  }

  .course-overview-info {
    display: table-cell;
    padding: 5px 14px 10px 14px;
    vertical-align: top;

    h3 {
      line-height: 1.5pc;
      a {
        color: #666666;
        font-size: 1.3pc;
      }
      a:hover {
        color: #333333;
        text-decoration: none;
      }
    }

    .course-overview-short-text {
      margin-top: 15px;
      color: #999999;
    }
  }
}