%h2= t 'admin.countries.header.admin_countries'
= render :partial => "menu"
#countries
  %table.table.table-hover.table-bordered.admin-index-table
    %tbody
      %tr
        %th.header= sortable 'name', t('admin.countries.label.name')
        %th.header= sortable 'tax', t('admin.countries.label.tax')
        %th.header= sortable 'payment_provider', t('admin.countries.label.payment_provider')
        %th
    - @countries.each do |country|
      %tr
        %td.title-column= link_to country.name, admin_country_path(country.id), class: 'title-link'
        %td.hint-column= country.tax.to_s
        %td.hint-column= country.payment_provider.humanize
        %td
          = link_to t('link.show'), admin_country_path(country.id), class: "btn btn-mini"
          = link_to t('link.edit'), edit_admin_country_path(country.id), class: "btn btn-mini"
          = link_to t('link.delete'), admin_country_path(country.id), method: :delete, data: { confirm: t('description.are_you_sure_question') }, class: "btn btn-mini btn-danger"
  = will_paginate @countries