.form-container
  = simple_form_for @category, :url => (@category.new_record? ? admin_categories_path() : admin_category_path(@category.id)), :html => {:class => 'form-content' } do |f|
    = f.error_notification
    = f.input :name, :input_html => { :maxlength => 32 }
    .control-group
      .controls
        = f.button :submit, (@category.new_record? ? t("button.create") : t("button.update")), :class => 'btn btn-inverse'
