%h2= t 'admin.categories.header.edit_category'
= render partial: 'menu', locals: { buttons: [ { label: 'button.show_public', url: courses_path(category: @category.id) }, { label: 'button.show_overview', url: admin_category_path(@category.id) },  { label: 'button.delete', url: admin_category_path(@category.id), method: :delete, confirm: 'label.confirm_delete' } ] }
= render partial: 'form'
