%h2= t 'admin.categories.header.admin_categories'
= render :partial => "menu"
#categories
  %table.table.table-hover.table-bordered.admin-index-table
    %tbody
      %tr
        %th.header= sortable 'name', t('admin.categories.label.name')
        %th
    - @categories.each do |category|
      %tr
        %td.title-column= link_to category.name, admin_category_path(category.id), class: 'title-link'
        %td.options-column
          = link_to t('link.show'), admin_category_path(category.id), class: "btn btn-mini"
          = link_to t('link.edit'), edit_admin_category_path(category.id), class: "btn btn-mini"
          = link_to t('link.delete'), admin_category_path(category.id), method: :delete, data: { confirm: t('description.are_you_sure_question') }, class: "btn btn-mini btn-danger"
  = will_paginate @categories
