%h2= t 'admin.courses.header.show_course'
= render partial: 'menu', locals: { buttons: [ { label: 'button.show_public', url: courses_path(category: @category.id), }, { label: 'button.edit', url: edit_admin_category_path(@category.id) },  { label: 'button.delete', url: admin_category_path(@category.id), method: :delete, confirm: 'label.confirm_delete' } ] }
.admin-show
  .admin-show-input.admin-show-element
    .admin-show-label= t 'label.name'
    .admin-show-value= @category.name
