.row
  .span7
    %h2= t 'header.contact_message'
    .formatted-text= t 'description.contact_message'
    %br
    .form-container
      = simple_form_for @contact_message, url: { action: 'create' }, html: { class: 'form-content' } do |f|
        = f.error_notification
        = f.input :email, input_html: { maxlength: 100, class: 'input-fit' }
        = f.input :name, input_html: { maxlength: 100, class: 'input-fit' }
        = f.input :subject, input_html: { maxlength: 100, class: 'input-fit' }
        = f.input :body, as: :text, input_html: { rows: 10, maxlength: 100000, class: 'input-fit' }
        = captcha_for(@contact_message)
        = f.button :submit, t('button.send'), class: 'btn btn-inverse'
  .span5
    %h2= t 'header.contact_data'
    .formatted-text= t 'description.contact_data'
    .contact-data
      .contact-data-image
      .contact-data-content
        .contact-data-email.contact-data-content-detail
          = APP_CONFIG['contact']['email']
        .contact-data-skype.contact-data-content-detail
          = APP_CONFIG['contact']['skype']
        .contact-data-phone.contact-data-content-detail
          = APP_CONFIG['contact']['phone']