// Bootsrap configuration
$linkColor : #0066ff;
$gridColumns: 12;
$gridColumnWidth: 60px;
$gridGutterWidth: 20px;

$headingsColor: #666;
$headingsFontWeight: normal;

// Import an original bootstrap
@import "bootstrap";
@import "bootstrap-responsive";

// Import a new fonts
@font-face {
  font-family: 'QuicksandBook';
  src: asset-url('Quicksand_Book.otf', font);
}


abbr[title] {
  border-width: 0px;
  color: #b22222;
}

/*--Bootstrap Elements------------------------------------------------------------------------------------------------*/

// Buttons
.btn {
  border-radius: 2px;
  text-transform: capitalize;
}

.well {
  border-radius: 2px;
  .nav-list {
    .nav-header {
      font-size: 0.95pc;
      font-weight: normal;
    }

    .active a {
      background-color: #cccccc;
    }

    li a {
      color: #222222;
      font-size: 0.9pc;
    }
  }
}

/*--Pagination--------------------------------------------------------------------------------------------------------*/

.pagination {
  border-width: 0px;
  box-shadow: none;

  ul {
    border-width: 0px;
    box-shadow: none;
    border-bottom:1px solid #eeeeee;
    border-top:1px solid #eeeeee;
    border-radius: 0px;
    li {
      border-width: 0px;
      box-shadow: none;
      border-radius: 0px;
      a {
        border-width: 0px;
        box-shadow: none;
        border-color: transparent;
        border-radius: 0px;
        span {
          border-width: 0px;
          border-color: transparent;
          box-shadow: none;
          background-color: transparent;
          border-radius: 0px;
        }
      }
    }
  }
}

/*--Page Elements Helpers---------------------------------------------------------------------------------------------*/

// Align right
.align-right {
  text-align: right;
}

// Align left
.align-right {
  text-align: left;
}

// Add line on left side
.left-line {
  border-left: 1px dotted #222222;
  padding-left: 10px;
}

// Add line on right side
.right-line {
  border-right: 1px dotted #222222;
  padding-right: 10px;
}

// Block of formatted text
.formatted-text {
  text-align: justify;
  font-size: 1pc;
  line-height: 1.6pc;
}

// Formatted link for special places
.title-link {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}

// Formated text for buttons
.nav-button {
  text-transform: capitalize;
}

// Separated container for buttons or extra text message
.separated-container {
  padding: 10px;
  margin: 10px 0px;
  background-color: #eeeeee;
  border-radius: 3px;
}

/*--Data Helpers------------------------------------------------------------------------------------------------------*/

// Add line to separate content
.data-separator {
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom: 4px;
  border-bottom: 1px dashed #bbbbbb;
  font-weight: bold;
  font-size: large;
  text-indent: 10px;
}

// It helps to split up one row columns
.split {

  width: 100%;
  overflow: hidden;

  .split-element {
    float: left;
    .control-group, .split-element-content {
      margin: 5px;
    }
  }

  .split-element:first-child {
    float: left;
    .split-element-content {
      margin-right: 5px;
      margin-left: 0px;
    }
  }

  .split-element:last-child {
    float: left;
    .split-element-content {
      margin-left: 5px;
      margin-right: 0px;
    }
  }

  .size-10 { width: 10%; }
  .size-20 { width: 20%; }
  .size-30 { width: 30%; }
  .size-40 { width: 40%; }
  .size-50 { width: 50%; }
  .size-60 { width: 60%; }
  .size-70 { width: 70%; }
  .size-80 { width: 80%; }
  .size-90 { width: 90%; }
}

/*--Form Helpers------------------------------------------------------------------------------------------------------*/

.form-container {
  border: 1px dashed #bbbbbb;

  .control-group .controls {
    position: relative;
  }

  .currency .input-currency-code {
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: #eeeeee;
    padding: 3px 10px;
  }

  .form-content {
    margin: 10px;
    display: block;

    input[type=text], input[type=password], input[type=url], input[type=number], input[type=email], input[type=tel], select, textarea, .select2 {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 30px;
    }

    input.currency {
      padding-right: 50px;
    }
  }

  // Add line to separate content
  .form-separator {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #bbbbbb;
    font-weight: bold;
    font-size: large;
  }

  // Formatted date dropdown select field
  .date-select-group{

    select {
      width:50%;
      float:left;
    }
    select:first-child{
      width:20%;
      float:left;
    }
    select:last-child{
      width:30%;
      float:left;
    }
  }
}

/*--reCaptcha---------------------------------------------------------------------------------------------------------*/

#recaptcha_custom_image {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

#captcha-field input {

}

#recaptcha_custom_refresh_image {
  position: absolute;
  right: 4px;
  top:2px;
}

#recaptcha_image {
  border: 1px solid #cccccc;
  text-align: center !important;
  background-color: #ffffff;
  width: 100% !important;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#recaptcha_image img {
  margin: auto !important;
}

/*--File Input Widget-------------------------------------------------------------------------------------------------*/

.file_field_content {
  border:1px solid #aaaaaa;
  background-color: #cccccc;
  position: relative;
  display: table;
  min-height: 80px;
  width: 100%;
  margin-bottom: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.file_field_preview {
  display: table-cell;
  width:140px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  border-right: 1px dotted #aaaaaa;
}

.file_field_image{
  position: relative;
}

.file_field_delete_image_bt {
  position: absolute;
  top: 4px;
  left:4px;
  cursor: pointer;
}

.file_field_container {
  display: table-cell;
  height: 100%;
  padding: 8px 10px;
}