/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require app_bootstrap
 *= require font-awesome
 *= require select2
 */

/*--Main Library------------------------------------------------------------------------------------------------------*/

.left { float: left; }
.right { float: right; }

.line-left {
  padding-left: 15px;
  border-left: 1px dotted #666;
}

.line-right {
  padding-right: 15px;
  border-right: 1px dotted #666;
}

/*--Errors And Notices------------------------------------------------------------------------------------------------*/

.errors-messages-block {
  position: relative;
  background: #ffe1dd;
  color: #530200;
  padding: 10px 15px;
  margin: 15px 0px;
}

.errors-messages-block p {
  font-weight: bold;
}

.errors-messages-block ul li {
  font-size: 12px;
}

.bt-close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  right: 7px;
  background-image: url(image-path("icons/bt-close.png"));
  background-repeat: no-repeat;
  cursor: pointer;
}


.flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  background-repeat: no-repeat;
}

.flag-pl {
  @extend .flag;
  background-image: url(image-path("flags/pl.png"));
}
.flag-en {
   @extend .flag;
   background-image: url(image-path("flags/gb.png"));
 }
.flag-de {
  @extend .flag;
  background-image: url(image-path("flags/de.png"));
}

/*--Layout------------------------------------------------------------------------------------------------------------*/

body {
  #background-image: url(image-path("backgrounds/main.png"));
}

#main {
}

#top {

}

#logo-container {
}

#logo-container h1 a {
  font: 32px/40px 'QuicksandBook', Arial, sans-serif;
  text-decoration: none;
  letter-spacing: 0;
  color: #d70d00;
  margin:16px 5px;
}

#top-container-inner{
  margin-right: 100px;

  #search-container {
    float:left;
    width: 100%;
    #form-search {
      display: block;
      width: 100%;
      margin: 18px 0px;

      .input-append{
        width:100%;

        input {
          width: 72%;
        }
      }
    }
  }

  #language-container {
    float: right;
    width: 100px;
    margin-right: -100px;

    #language-block {
      margin: 18px 0px;
      float: right;
    }
  }
}

#navigation {
  border-top: 7px solid black;
  border-bottom: 1px dotted black;
  margin-bottom: 15px;
}

#navigation .navbar {
  background-image: none;
  background-color: transparent;
  margin: 5px 0px;
}
#navigation .navbar .navbar-inner {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  background-image: none;
  border-width: 0px;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 1pc;
}

#menu {
  padding: 0px;
  margin: 0px;
  text-indent: 0px;
}

#menu li {
  display: inline;
  padding: 0px;
  margin: 0px;
  text-indent: 0px;
}

#menu li a {
  cursor: pointer;
  font-size: 120%;
  color: #666;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0px 5px;
}
#menu li a:hover {
  color: #000;
  text-decoration: none;
}

#container {
}

footer {
  padding-top: 10px;
  border-top: 7px solid black;
  margin-top: 50px;
  margin-bottom: 100px;
}

.footer-box {
  margin: 15px 0px;
  font-size: 0.8pc;
  .footer-nav {
    margin: 0px;
    margin-bottom: 40px;
    li {
      display: block;
      border-bottom: 1px #aaaaaa dashed;
      line-height: 1.8pc;
      a {
        text-decoration: none;
        color: #666666;
        text-transform: capitalize;
        font-size: 0.8pc;
      }
    }
    li:last-child {
      border-bottom-width: 0px;
    }
  }

  .footer-contact-data {
    margin-top: 20px;
    padding: 15px 0px 22px 0px;
    border-top: 1px #aaaaaa dashed;
    border-bottom: 1px #aaaaaa dashed;
    text-align: center;
    line-height: 0px;

    .contact-data-image {
      display: inline-block;
      width: 74px;
      height: 92px;
      border:1px #333333 solid;
      background-image: image-url('elements/contact_person.jpg');
      background-size: 74px 92px;
      background-repeat: no-repeat;
      margin: -8px 10px;
    }

    .contact-data-content {
      display: inline-block;
      width:240px;
      margin-top: 20px;

      .contact-data-skype {
        background-image: image-url('icons/skype.png');
      }

      .contact-data-phone {
        background-image: image-url('icons/phone.png');
      }

      .contact-data-email {
        background-image: image-url('icons/email.png');
      }

      .contact-data-content-detail {
        height: 30px;
        margin-bottom: 5px;
        font-size: 0.9pc;
        color: #666666;
        line-height: 30px;
        text-align: left;
        text-indent: 40px;
        background-repeat: no-repeat;
        background-size: 30px;
      }
    }
  }

  .external-pages {
    text-align: center;
    margin: 20px 0px;
    padding: 20px 0px;
    border-top: 1px #aaaaaa dashed;
    border-bottom: 1px #aaaaaa dashed;
    img {
      width: 60px;
      height: 60px;
    }
  }
}

footer-box-last {
  border-right-width: 0px;
}

.footer-large {
  width: 350px;

}

/*--Home Page Content-------------------------------------------------------------------------------------------------*/

.digital-wall {
  position: relative;
}

.digital-box {
  background-color: #efefef;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 2px #888888;
}
.digital-box:hover {
  background-color: #eeeeee;
  box-shadow: 0px 0px 3px #666666;
}

.digital-box-buttons {
  position: absolute;
  right: 20px;
  bottom: 18px;

  a {
    text-decoration: none;
    color: #222222;
    font-size: 0.8pc;
    background-color: #cccccc;
    padding: 5px 8px;
    border-radius: 2px;
  }

  a:hover {
    text-decoration: none;
    color: whitesmoke;
    background-color: #555555;
  }
}

.digital-box-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.digital-box-title h3 {
  line-height: 2pc;
  font-size: 1.5pc;
}

.digital-box-text-title {
  padding: 12px;
  h3 {
    display: inline-block;
    margin: 10px 10px 5px 10px;
    a {
      text-decoration: none;
      color: #222222;
    }
  }
}

.digital-box-image-title {
  background-color:rgba(255,255,255,0.7);
  position: absolute;
  top: 25px;
  left: 0px;
  padding: 0px 12px;
  h3 {
    display: inline-block;
    margin: 10px;
    a {
      text-decoration: none;
      color: #222222;
    }
  }
}

.display-mode-small {
  width:285px;
  #min-height: 194px;
}

.display-mode-image-small {
  height: 194px;
}

.display-mode-medium {
  width:580px;
  #min-height: 296px;
}

.display-mode-image-medium {
  height: 296px;
}

.display-mode-large {
  width:100%;
  #height: 300px;
}

.display-mode-image-large {
  height: 300px;
}


.digital-box-short-text {
  margin:0px 20px 42px 20px;
  font-size: 0.95pc;
  line-height: 1.4pc;
  color: #999999;
  display: none;
}

.digital-box-text-short-text {
  display: block;
}

.homepage-pagination .pagination {
  text-align: center;
}

/*--Error Pages-------------------------------------------------------------------------------------------------------*/

#error-content {
  text-align: center;
  #error-status-code {
    font-size: 8pc;
    line-height: 10pc;
    color:#dddddd;
    font-weight: bold;
    text-shadow: 1px 1px 0px #cccccc;
  }
}