.content-block {
  background-color: #eeeeee;
  margin-bottom: 20px;

  .content-block-title {
    background-color: #dddddd;
    padding: 5px 15px;
    h3 {
      line-height: 20px;
      text-transform: capitalize;
      font-size: 1.4pc;
    }
  }

  .content-block-container {
    padding: 15px;

    .content-block-image {
      text-align: center;
    }

    .content-block-date {
      text-align: center;
    }

    hr {
      border-bottom: 2px dotted #dddddd;
    }
  }
}

.author-block {
  .author-block-conteiner {
    text-align: center;
    img {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .author-block-full-name {
      display: inline-block;
      p {
        font-size: 1.1pc;
        color: #666666;
      }
      .author-block-www {
        font-size: 0.8pc;
      }
    }
  }

}