%h2= t 'admin.entries.header.edit_entry'
= render partial: 'menu', locals: { buttons: [ { label: 'button.show_public', url: entry_path(@entry.id) }, { label: 'button.show_overview', url: admin_entry_path(@entry.id) },  { label: 'button.delete', url: admin_entry_path(@entry.id), method: :delete, confirm: 'label.confirm_delete' } ] }
= render partial: 'form'