%h2= t 'admin.entries.header.admin_entries'
= render :partial => "menu"
#entries
  %table.table.table-hover.table-bordered.admin-index-table
    %tbody
      %tr
        %th= sortable 'title', t('admin.entries.label.title')
        %th.header= sortable 'country', t('admin.entries.label.country')
        %th.header= sortable 'status', t('admin.entries.label.status')
        %th.header= sortable 'hits', t('admin.entries.label.hits')
        %th
    - @entries.each do |entry|
      %tr
        %td.title-column
          .image-thumb
            = link_to(image_tag(entry.image.url(:thumb)), entry_path(entry.id))
          = link_to entry.title, entry_path(entry.id), class: 'title-link'
        %td.hint-column= entry.country.name
        %td.hint-column= entry.status_type.to_s
        %td.hint-column= entry.hits
        %td.options-column
          = link_to t('link.show'), admin_entry_path(entry.id), class: "btn btn-mini"
          = link_to t('link.edit'), edit_admin_entry_path(entry.id), class: "btn btn-mini"
          = link_to t('link.delete'), admin_entry_path(entry.id), method: :delete, data: { confirm: t('description.are_you_sure_question') }, class: "btn btn-mini btn-danger"
  = will_paginate @entries
