%h2= t 'admin.entries.header.show_entry'
= render partial: 'menu', locals: { buttons: [ { label: 'button.show_public', url: entry_path(@entry.id) }, { label: 'button.edit', url: edit_admin_entry_path(@entry.id) },  { label: 'button.delete', url: admin_entry_path(@entry.id), method: :delete, confirm: 'label.confirm_delete' } ] }
.admin-show
  .admin-show-input.admin-show-element
    .admin-show-label= t 'label.title'
    .admin-show-value= @entry.title
  .admin-show-text.admin-show-element
    .admin-show-label= t 'label.text'
    .admin-show-value= @entry.text.html_safe
  .admin-show-text.admin-show-element
    .admin-show-label= t 'label.short_text'
    .admin-show-value= @entry.short_text.html_safe
  .admin-show-text.admin-show-element
    .admin-show-label= t 'label.code'
    .admin-show-value= @entry.code
  .admin-show-input.admin-show-element
    .admin-show-label= t 'label.user'
    .admin-show-value= link_to @entry.user.full_name_with_email, admin_user_path(@entry.user)
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-image
          .admin-show-label= t 'label.image'
          .admin-show-value= image_tag @entry.image.url(:thumb), class: 'img-polaroid'
    .split-element.size-50
      .split-element-content
        .admin-show-image
          .admin-show-label= t 'label.banner'
          .admin-show-value= image_tag @entry.banner.url(:thumb), class: 'img-polaroid'
  .split.admin-show-element
    .split-element.size-20
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.status'
          .admin-show-value= @entry.status_type
    .split-element.size-30
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.main_display_mode'
          .admin-show-value= @entry.main_display_mode_type
    .split-element.size-20
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.hits'
          .admin-show-value= @entry.hits
    .split-element.size-30
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.country'
          .admin-show-value= link_to @entry.country.name, admin_country_path(@entry.country)
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.created_at'
          .admin-show-value= @entry.updated_at
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.updated_at'
          .admin-show-value= @entry.created_at