.form-container
  = simple_form_for @user, :url => (@user.new_record? ? admin_users_path() : admin_user_path(@user.id)), :html => {:class => 'form-content' } do |f|
    = f.error_notification
    .form-separator= t 'form.label.personal_data'
    = f.input :email, :wrapper_html => { :class => 'split-element-content' }
    .split
      .split-element.size-50
        = f.input :first_name, :wrapper_html => { :class => 'split-element-content' }
      .split-element.size-50
        = f.input :gender, :collection => [[t('common.male'), 'M'], [t('common.female'), 'F']], :as => :select, :item_wrapper_class => 'inline'
    .split
      .split-element.size-50
        = f.input :last_name, :wrapper_html => { :class => 'split-element-content' }
      .split-element.size-50
        = f.input :birth_date, :as => :date, :start_year => Date.today.year - 90, :end_year => Date.today.year - 7, :order => [:day, :month, :year], :required => true, :wrapper_html => { :class => 'split-element-content date-select-group' }

    .form-separator= t 'form.label.address_data'
    .split
      .split-element.size-50
        = f.input :country_id, collection: Country.all, wrapper_html: { :class => 'split-element-content' }
      .split-element.size-50
        = f.input :address, :wrapper_html => { :class => 'split-element-content' }
    .split
      .split-element.size-50
        = f.input :location, :wrapper_html => { :class => 'split-element-content' }
      .split-element.size-50
        = f.input :zip_code, :wrapper_html => { :class => 'split-element-content' }

    .form-separator= t 'form.label.contact_data'
    = f.input :email, :wrapper_html => { :class => 'split-element-content' }
    .split
      .split-element.size-50
        = f.input :website, :wrapper_html => { :class => 'split-element-content' }
      .split-element.size-50
        = f.input :phone_number, :wrapper_html => { :class => 'split-element-content' }

    .form-separator= t 'form.label.other_data'
    .split
      .split-element.size-50
        = f.input :status, :collection => BaseModel::User.status_types, :wrapper_html => { :class => 'split-element-content' }
      .split-element.size-50
        = f.input :role, :collection => SimpleRoles.config.valid_roles, :wrapper_html => { :class => 'split-element-content' }
    = f.input :password, :wrapper_html => { :class => 'split-element-content' }

    .control-group
      .controls
        = f.button :submit, (@user.new_record? ? t('button.create') : t('button.update')), :class => 'btn btn-inverse'
