%h2= t 'admin.users.header.edit_user'
= render partial: 'menu', locals: { buttons: [ { label: 'button.show_overview', url: admin_user_path(@user.id) },  { label: 'button.delete', url: admin_user_path(@user.id), method: :delete, confirm: 'label.confirm_delete' } ] }
= render partial: 'form'