%h2= t 'admin.users.header.admin_users'
= render partial: 'menu'
#users
  %table.table.table-hover.table-bordered.admin-index-table
    %tbody
      %tr
        %th.header= sortable 'email', t('admin.users.label.email')
        %th.header= sortable 'last_name', t('admin.users.label.full_name')
        %th.header= sortable 'status',  t('admin.users.label.status')
        %th
    - @users.each do |user|
      %tr
        %td= link_to user.email, admin_user_path(user.id), class: 'title-link'
        %td= link_to user.full_name_or_email, admin_user_path(user.id), class: 'title-link'
        %td.hint-column= user.status_type
        %td.options-column
          = link_to t('link.show'), admin_user_path(user.id), class: "btn btn-mini"
          = link_to t('link.edit'), edit_admin_user_path(user.id), class: "btn btn-mini"
          = link_to t('link.delete'), admin_user_path(user.id), method: :delete, data: { confirm: t('description.are_you_sure_question') }, class: "btn btn-mini btn-danger"
  = will_paginate @users