%h2= t 'admin.users.header.show_user'
= render partial: 'menu', locals: { buttons: [ { label: 'button.edit', url: edit_admin_user_path(@user.id) },  { label: 'button.delete', url: admin_user_path(@user.id), method: :delete, confirm: 'label.confirm_delete' } ] }
.admin-show
  .data-separator= t 'label.personal_data'
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.first_name'
          .admin-show-value= @user.first_name
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.last_name'
          .admin-show-value= @user.last_name
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.gender'
          .admin-show-value= @user.gender_type
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.birth_date'
          .admin-show-value= @user.birth_date

  .data-separator= t 'label.contact_data'
  .admin-show-input.admin-show-element
    .admin-show-label= t 'label.email'
    .admin-show-value= @user.email
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.website'
          .admin-show-value= @user.website
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.phone_number'
          .admin-show-value= @user.phone_number

  .data-separator= t 'label.address_data'
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.country_id'
          .admin-show-value= @user.country_id
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.address'
          .admin-show-value= @user.address
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.location'
          .admin-show-value= @user.location
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.zip_code'
          .admin-show-value= @user.zip_code
  .data-separator= t 'label.other_data'
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.status'
          .admin-show-value= @user.status_type
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.role'
          .admin-show-value= @user.role
  .admin-show-input.admin-show-element
    .admin-show-label= t 'label.identification_token'
    .admin-show-value= @user.identification_token
  - if @user.activation_token
    .admin-show-input.admin-show-element
      .admin-show-label
        = t 'label.activation_link'
        = link_to t('button.activate'), { controller: 'public/users', action: 'activate', token: @user.activation_token, locale: I18n.locale, only_path: false }, class: 'btn btn-primary btn-small pull-right'
      .admin-show-value= url_for controller: 'public/users', action: 'activate', token: @user.activation_token, locale: I18n.locale, only_path: false
  - if @user.removal_token
    .admin-show-input.admin-show-element
      .admin-show-label
        = t 'label.activation_link'
        = link_to t('button.remove'), { controller: 'public/users', action: 'destroy', token: @user.removal_token, locale: I18n.locale, only_path: false }, class: 'btn btn-danger btn-small pull-right'
      .admin-show-value= url_for controller: 'public/users', action: 'destroy', token: @user.removal_token, locale: I18n.locale, only_path: false
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.external_provider'
          .admin-show-value= @user.provider
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.external_provider_id'
          .admin-show-value= @user.provider_id
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.created_at'
          .admin-show-value= @user.updated_at
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.updated_at'
          .admin-show-value= @user.created_at