.form-container
  = simple_form_for @course, url: (@course.new_record? ? admin_courses_path() : admin_course_path(@course.id)), html: { multipart: true, class: 'form-content' } do |f|
    = f.error_notification
    = f.input :title, input_html: { maxlength: 128 }
    = f.input :short_text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, maxlength: 100000, value: @course.short_text }
    = f.input :text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, maxlength: 100000, value: @course.text }
    = file_field_for(f, :cover, :thumb)
    = file_field_for(f, :image, :thumb)
    = file_field_for(f, :banner, :thumb)
    .split
      .split-element.size-30
        = f.input :price, as: :string, wrapper_html: { class: 'split-element-content' }
      .split-element.size-30
        = f.input :status, collection: BaseModel::Course.status_types, wrapper_html: { class: 'split-element-content' }, input_html: { class: 'select2' }
      .split-element.size-40
        = f.association :country, wrapper_html: { class: 'split-element-content' }, input_html: { class: 'select2' }
    .split
      .split-element.size-30
        = f.input :duration, as: :string, wrapper_html: { class: 'split-element-content' }
      .split-element.size-30
        = f.input :level, collection: BaseModel::Course.level_types, wrapper_html: { class: 'split-element-content' }, input_html: { class: 'select2' }
      .split-element.size-40
        = f.input :subject, collection: BaseModel::Course.subject_types, wrapper_html: { class: 'split-element-content' }, input_html: { class: 'select2' }

    = f.association :user, label_method: :email, input_html: { class: 'select2' }
    = f.association :category, label_method: :name, input_html: { class: 'select2' }

    .control-group
      .controls
        = f.button :submit, (@course.new_record? ? t('button.create') : t('button.update')), class: 'btn btn-inverse'