.menu.navbar
  .navbar-inner
    %ul.nav
      %li{ class: ('active' if action?('index')) }= link_to t('admin.courses.link.courses'), admin_courses_path, class: 'nav-button'
      %li{ class: ('active' if action?('new', 'create')) }= link_to t('admin.courses.link.new_course'), new_admin_course_path, class: 'nav-button'
      - if defined?(buttons)
        - buttons.each do |button|
          %li= link_to t(button[:label]), button[:url], method: button[:method], confirm: button[:confirm].present? ? t(button[:confirm]) : nil, class: 'nav-button'