%h2= t 'admin.courses.header.edit_course'
= render partial: 'menu', locals: { buttons: [ { label: 'button.show_public', url: course_path(@course.id) }, { label: 'button.show_overview', url: admin_course_path(@course.id) },  { label: 'button.delete', url: admin_course_path(@course.id), method: :delete, confirm: 'label.confirm_delete' }, { label: 'button.manage_lessons', url: admin_course_lessons_path(@course.id) } ] }
= render partial: 'form'
