%h2= t 'admin.courses.header.admin_courses'
= render partial: "menu"
#courses
  %table.table.table-hover.table-bordered.admin-index-table
    %tbody
      %tr
        %th= t 'admin.courses.label.title'
        %th.header= t 'admin.courses.label.country'
        %th.header= t 'admin.courses.label.status'
        %th.header= t 'admin.courses.label.price'
        %th
    - @courses.each do |course|
      %tr
        %td.title-column
          .image-thumb
            = link_to(image_tag(course.image.url(:thumb)), course_path(course.id))
          = link_to course.title, course_path(course.id)
        %td.hint-column= course.country.name
        %td.hint-column= course.status.to_s
        %td.hint-column= course.full_price
        %td.options-column
          = link_to t('link.show'), admin_course_path(course.id), class: "btn btn-mini"
          = link_to t('link.edit'), edit_admin_course_path(course.id), class: "btn btn-mini"
          = link_to t('link.delete'), admin_course_path(course.id), method: :delete, data: { confirm: t('description.are_you_sure_question') }, class: "btn btn-mini btn-danger"
  = will_paginate @courses