%h2= t 'admin.courses.header.show_course'
= render partial: 'menu', locals: { buttons: [ { label: 'button.show_public', url: course_path(@course.id) }, { label: 'button.edit', url: edit_admin_course_path(@course.id) },  { label: 'button.delete', url: admin_course_path(@course.id), method: :delete, confirm: 'label.confirm_delete' }, { label: 'button.manage_lessons', url: admin_course_lessons_path(@course.id) } ] }
.admin-show
  .admin-show-input.admin-show-element
    .admin-show-label= t 'label.title'
    .admin-show-value= @course.title
  .admin-show-text.admin-show-element
    .admin-show-label= t 'label.text'
    .admin-show-value= @course.text.html_safe
  .admin-show-text.admin-show-element
    .admin-show-label= t 'label.short_text'
    .admin-show-value= @course.short_text.html_safe
  .admin-show-image.admin-show-element
    .admin-show-label= t 'label.cover'
    .admin-show-value= image_tag @course.cover.url(:large), class: 'img-polaroid'
  .admin-show-input.admin-show-element
    .admin-show-label= t 'label.user'
    .admin-show-value= link_to @course.user.full_name_with_email, admin_user_path(@course.user)
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-image
          .admin-show-label= t 'label.image'
          .admin-show-value= image_tag @course.image.url(:thumb), class: 'img-polaroid'
    .split-element.size-50
      .split-element-content
        .admin-show-image
          .admin-show-label= t 'label.banner'
          .admin-show-value= image_tag @course.banner.url(:thumb), class: 'img-polaroid'
  .split.admin-show-element
    .split-element.size-20
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.status'
          .admin-show-value= @course.status_type
    .split-element.size-30
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.price'
          .admin-show-value= @course.full_price
    .split-element.size-20
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.subject'
          .admin-show-value= @course.subject_type
    .split-element.size-30
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.country'
          .admin-show-value= link_to @course.country.name, admin_country_path(@course.country)
  .split.admin-show-element
    .split-element.size-30
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.level'
          .admin-show-value= @course.level_type
    .split-element.size-20
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.duration'
          .admin-show-value= @course.duration
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.category'
          .admin-show-value= link_to @course.category.name, admin_category_path(@course.category)
  .split.admin-show-element
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.created_at'
          .admin-show-value= @course.updated_at
    .split-element.size-50
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.updated_at'
          .admin-show-value= @course.created_at