.simple-content.registration-content
  %h2= t 'header.thank_you_for_registration'
  .formatted-text= t 'description.thank_you_for_registration_text'
  %h2= t 'header.check_email'
  .formatted-text= t 'description.activation_email_was_sent'