%h2= t 'header.remove_account'
.formatted-text= t 'description.remove_account'
%br
.account-delete-content
  .form-container
    = simple_form_for @user, url: { controller: 'public/users', action: 'activate_removal' }, html: { method: :patch, class: 'form-content' } do |f|
      = f.error_notification
      = f.input :password, input_html: { maxlength: 300 }
      .control-group
        .controls
          = f.button :submit, t('button.delete'), class: 'btn btn-inverse'