%h2= t 'header.user_settings'
.form-container
  = simple_form_for @user, url: { controller: 'public/users', action: 'update' }, html: { method: :patch, class: 'form-content' } do |f|
    = f.error_notification
    .form-separator= t 'form.label.personal_data'
    .split
      .split-element.size-50
        = f.input :first_name, wrapper_html: { class: 'split-element-content' }
      .split-element.size-50
        = f.input :last_name, wrapper_html: { class: 'split-element-content' }

    .form-separator= t 'form.label.contact_data'
    .split
      .split-element.size-50
        = f.input :website, wrapper_html: { class: 'split-element-content' }
      .split-element.size-50
        = f.input :phone_number, wrapper_html: { class: 'split-element-content' }

    .form-separator= t 'form.label.address_data'
    .split
      .split-element.size-50
        = f.input :country_id, collection: Country.all, wrapper_html: { class: 'split-element-content' }
      .split-element.size-50
        = f.input :address, wrapper_html: { class: 'split-element-content' }
    .split
      .split-element.size-50
        = f.input :location, wrapper_html: { class: 'split-element-content' }
      .split-element.size-50
        = f.input :zip_code, wrapper_html: { class: 'split-element-content' }

    .control-group
      .controls
        = f.button :submit, t('button.update'), class: 'btn btn-inverse'