.row
  .span5
    %h2= t 'header.registration'
    .form-container
      = simple_form_for @user, url: { controller: 'public/users', action: 'create' }, html: { class: 'form-content' } do |f|
        = f.error_notification
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
        = f.input :birth_date, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 7, order: [:day, :month, :year], required: true, wrapper_html: { class: 'date-select-group' }
        = f.input :gender, collection: [[t('common.male'), 'M'], [t('common.female'), 'F']], as: :select, item_wrapper_class: 'inline'
        = f.input :terms_of_service, required: true, label: false, as: :boolean, inline_label: t('description.accept_terms')
        = captcha_for(@user)
        = f.button :submit, t('button.register'), class: 'btn btn-inverse'
  .span7
    %h2= t 'header.why_register'
    .formatted-text= t 'description.why_register'
    %h2= t 'header.register_now_or_login_by_external_services'
