!!! 5
%html
  %head
    %title PracticalKnowledge
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'
    -#= javascript_include_tag 'plugins/jquery.nested.js'
    - if current_user && current_user.is_admin?
      = javascript_include_tag 'ckeditor/init'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #main
      .container#top
        .row
          .span5#logo-container
            %h1= link_to APP_CONFIG['website_name'], controller: 'public/pages', action: 'show', id: 'home'
          .span7#top-container
            #top-container-inner
              #search-container
                %form#form-search{ method: :get, action: url_for(controller: 'public/searches', action: 'show') }
                  .input-append
                    %input#appendedInputButton{ value: (@search.keywords if @search.present?), name: 'keywords', type: 'text', placeholder: t('placeholder.search') }
                    %button.btn{ type: 'submit' }= t('button.search')
              #language-container{ 'data-no-turbolink' => '' }
                .btn-toolbar#language-block
                  .btn-group
                    %a.btn{ href: url_for(params.merge(locale: 'en', only_path: false)) }
                      %i.flag-en
                    %a.btn{ href: url_for(params.merge(locale: 'pl', only_path: false)) }
                      %i.flag-pl
      .container#navigation
        .navbar
          .navbar-inner
            .container
              .btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-main' }
                %span.icon-bar
                -#%span.icon-bar
                -#%span.icon-bar
              .nav-collapse.collapse.nav-main{ 'data-no-turbolink' => '' }
                %ul.nav
                  %li= link_to t('label.home'), controller: 'public/pages', action: 'show', id: 'home'
                  %li= link_to t('label.courses'), courses_path
                  %li= link_to t('label.contact'), controller: 'public/contact_messages', action: 'new'
                  %li= link_to t('label.about'), controller: 'public/pages', action: 'show', id: 'about'
                %ul.nav.pull-right
                  - if current_user
                    %li= link_to t('label.logout'), controller: 'public/sessions', action:'destroy'
                    %li= link_to t('label.dashboard'), controller: 'public/dashboards', action: 'show'
                  - else
                    %li= link_to t('label.login'), controller:'public/sessions', action: 'new'
                    %li= link_to t('label.registration'), controller: 'public/users', action: 'new'
      .container#container
        .row
          .span12
            = render(partial: "shared/notice_messages")
            = content_for?(:content) ? yield(:content) : yield
        %footer
          .row#footer
            .span5
              .footer-box
                %h4= t 'header.footer_about_me'
                = t 'description.footer_about_me'
                %h4= t 'header.footer_contact_data'
                = t 'description.footer_contact_data'
                .footer-contact-data
                  .contact-data-image
                  .contact-data-content
                    .contact-data-email.contact-data-content-detail
                      = APP_CONFIG['contact']['email']
                    .contact-data-skype.contact-data-content-detail
                      = APP_CONFIG['contact']['skype']
                    .contact-data-phone.contact-data-content-detail
                      = APP_CONFIG['contact']['phone']

            .span2
              .footer-box
                %ul.footer-nav
                  %li= link_to t('label.home'), controller: 'public/pages', action: 'show', id: 'home'
                  %li= link_to t('label.courses'), controller: 'public/courses', action: 'index'
                  - if current_user
                    %li= link_to t('label.logout'), controller: 'public/sessions', action:'destroy'
                    %li= link_to t('label.dashboard'), controller: 'public/dashboards', action: 'show'
                  - else
                    %li= link_to t('label.login'), controller: 'public/sessions', action: 'new'
                    %li= link_to t('label.register'), controller: 'public/users', action: 'new'
            .span2
              .footer-box
                %ul.footer-nav
                  %li= link_to t('label.terms_and_conditions'), controller: 'public/pages', action: 'show', id: 'terms_and_conditions'
                  %li= link_to t('label.privacy_policy'), controller: 'public/pages', action: 'show', id: 'privacy_policy'
                  %li= link_to t('label.contact'), controller: 'public/contact_messages', action: 'new'
                  %li= link_to t('label.about'), controller: 'public/pages', action: 'show', id: 'about'
                %ul.footer-nav
                  %li= link_to t('label.for_developers'), controller: 'public/pages', action: 'show', id: 'developers'
                  %li= link_to t('label.career'), controller: 'public/pages', action: 'show', id: 'career'
            .span3
              .footer-box
                = "Copyright © 2012–#{Time.now.year} #{APP_CONFIG['author']}"
                .external-pages
                  = link_to image_tag('icons/facebook.png'), APP_CONFIG['links']['facebook']
                  = link_to image_tag('icons/youtube.png'), APP_CONFIG['links']['youtube']
                  = link_to image_tag('icons/rss.png'), '#'
