- content_for :content do
  .row
    .span3
      .well.dashboard-nav
        %ul.nav.nav-list
          %li.nav-header= t 'label.manage_profile'
          %li= link_to t('label.dashboard'), '#'
          %li= link_to t('label.my_courses'), '#'
          %li= link_to t('label.settings'),             controller: 'public/users', action: 'edit'
          - if current_user.is_admin?
            %li.nav-header= t 'label.manage_site'
            %li= link_to t('label.manage_courses'), admin_courses_path
            %li= link_to t('label.manage_entries'), admin_entries_path
            %li= link_to t('label.manage_users'), admin_users_path
            %li= link_to t('label.manage_categories'), admin_categories_path
            %li= link_to t('label.manage_countries'), admin_countries_path
            %li= link_to t('label.payments'), '#'
          %li.divider
          %li= link_to t('label.change_password'),      controller: 'public/password_changes', action: 'edit'
          %li= link_to t('label.change_email'),         controller: 'public/email_changes', action: 'new'
          %li= link_to t('label.delete_account'),       controller: 'public/users', action: 'delete'

    .span9
      = content_for?(:dashboard_content) ? yield(:dashboard_content) : yield
= render template: 'layouts/application'