.email-body{ style: 'color: black;' }
  .email-header{ style: 'border-bottom: 7px solid black;color:#d70d00;' }
    %h1= APP_CONFIG['website_name']
  .email-conteiner{ style: 'padding:10px 0px 20px 0px;border-bottom: 1px dotted black;text-align: justify;font-size: 1pc; line-height: 1.4pc;margin-bottom:10px;' }
    = yield
  .email-footer
    .email-footer-address{ style: 'padding:0px 10px 0px 0px;width:210px;float:left;border-right: 1px dotted black;' }
      = APP_CONFIG['address']['name']
      %br
      = APP_CONFIG['address']['street']
      %br
      = "#{APP_CONFIG['address']['zip_code']} #{APP_CONFIG['address']['city']}"
    .email-footer-information{ style: 'padding:0px 10px;float:left;' }
      = APP_CONFIG['contact']['phone']
      %br
      = APP_CONFIG['contact']['email']